.singleCourseContainer {
  display: flex;
  justify-content: center;
}

.cardDesign {
  display: flex;
  width: 820px;
  min-width: 400px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
}

.courseParent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.singleCourse-title {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 800;
}
.courseLaunched {
  background-color: #2e7d32;
}

.courseNotLaunched {
  background-color: #d32f2f;
}

.status {
  font-size: 13px !important;
  text-align: center;
  color: white;
  padding: 5px 0;
  border-radius: 10px;
}

.course-btn-group {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.btn-item {
  margin: 0 4px;
}

.text-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.text-item {
  margin: 0 4px;
  padding: 0 5px;
  width: 20%;
}

.text-item-title {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.button-icon {
  padding: 4px 8px !important;
  padding-left: 3px !important;
  padding-right: 1px !important;
  border-radius: 10px !important;
}

.btn-icons {
  font-size: 20px !important;
  padding: 2px !important;
  margin: 3px !important;
  border-radius: 10px !important;
}
